# Keycloak Configuration
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8080
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=stuf
KEYCLOAK_SPA_CLIENT_ID=stuf-spa
KEYCLOAK_API_CLIENT_ID=stuf-api
KEYCLOAK_API_CLIENT_SECRET=some-secret-value
KC_HEALTH_ENABLED=true

# Roles Configuration
KEYCLOAK_ADMIN_ROLE=admin
KEYCLOAK_COLLECTION_ROLES=collection-1-docs,collection-2-contracts,collection-3-cat-pics

# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# API Configuration
API_PORT=8000
API_URL=http://localhost:8000

# SPA Configuration
SPA_PORT=3000
