repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.1
    hooks:
      - id: ruff
        args: [--fix]
        types: [python]
      - id: ruff-format
        types: [python]
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: sh -c 'cd spa && npm run biome:fix'
        language: system
        files: ^spa/src/.*\.(js|jsx|ts|tsx|css)$
        pass_filenames: false
